:root {
    --font-family: "Poppins", sans-serif;
    --bg-color: linear-gradient(to right, #8576FF, #6a5acd);
    --primary-color: #FFF7FC;
    --secondary-color: #FF6F61; /* Adicionei uma cor secundária */
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
}

h3 {
    font-size: 2em;
    margin-top: 20px;
    transition: color 0.3s; /* Transição suave */
}

h3:hover {
    color: var(--secondary-color); /* Muda a cor ao passar o mouse */
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
    transition: transform 0.3s; /* Animação suave */
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    transition: transform 0.3s; /* Animação de transformação */
}

.box:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.btn-jogar {
    padding: 10px 20px; /* Aumentar o tamanho do botão */
    border: 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s; /* Transição suave */
}

.btn-jogar:hover {
    background: var(--primary-color); /* Muda a cor ao passar o mouse */
}
